.App {
  text-align: center;
  background-color: #101010;
}

footer ul li {
  list-style: none;
  font-size: 15px;
}

footer ul li a {
  color: #969393;
}

footer ul li a:hover {
  color: white;
}

.logo {
  width: 100px;
}

#logo {
  width: 50px;
}

#face {
  width: 50px;
  
}
