body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: #141414;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #9f9a9c;
}

a:hover {
  color: #9f9a9c;
}

.col {
  padding-bottom: 15px;
}

.pics {
  width: calc(100%-31px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.setbackgroundcolor {
  background-color: #141414 !important;
}

.navbar-netflix {
  background-color: #141414;
  font-size: 9pt;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.nav-link {
  color: #9f9a9c;
}

.user-dropdown {
  border-color: #141414;
}

.alignwlogo {
  padding-left: 31px;
}

.bigtitles {
  font-weight: 580;
  font-size: 30px;
  letter-spacing: 0.05rem;
}

.smalltitle {
  font-weight: 550;
  font-size: 22px;
}

.genretitle {
  font-size: 15px;
}

.genresmenu {
  width: 130px;
  text-align: initial;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #9f9a9c;
}

.genresdropdown {
  border-style: none;
  border-radius: 0px;
}

.dropdown-toggle {
  align-content: center;
}

.thumbnails {
  width: 220px;
  margin: 0 0.2rem;
  position: relative;
}

.thumbnails img {
  width: 100%;
  height: 90%;
}

.thumbnails p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.thumbnails:hover > img {
  filter: brightness(50%);
}

.thumbnails:hover > p {
  opacity: 1;
}

.visualbutton {
  border-radius: 1px;
  border-color: #9f9a9c;
  padding-bottom: 9px;

  width: auto;
  height: 25px;
}

.visicons {
  margin-bottom: 11px;
  margin-top: -3px;
  color: #9f9a9c;
  padding-right: 2px;
}

.alignright {
  padding-left: 960px;
}

.icons {
  width: 25px;
}
.saga {
  width: 100%;
  height: 250px;
  display: flex;
  animation: slide 20s infinite;
}

@keyframes slide {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -100%;
  }
}
.Movie {
  height: 100%;
  margin: 0 2rem;
  background-color: rgb(34, 34, 34);
}
.Movie img {
  height: 90%;
}

.Movie p {
  color: white;
  width: 100%;
  height: 10%;
  margin: 0;
  text-align: center;
  display: flex;
}
